.logo {
    display: block;
    position: absolute;
    margin-left: 20px;
}
.login-container {
    margin: 0 auto;
    padding: 20px;
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: 8px;
    flex-direction: column;
    justify-self: center;
    align-self: center;
    justify-content: center;
    align-items: center;
}
.bg-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 60px;
    background: linear-gradient(45deg, var(--blue-4), var(--blue-1), var(--violet-1), var(--pink-3), var(--orange-3));
    height: 350px;
    width: 350px;
    border: 1px solid var(--grey-4);
    box-shadow: 0 30px 16px var(--black-translucent-2);
    transform: rotate(15deg);
}
.bg-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 60px;
    background: linear-gradient(45deg,var(--blue-4), var(--blue-1), var(--violet-1), var(--pink-3), var(--orange-3));
    height: 350px;
    width: 350px;
    border: 1px solid var(--grey-4);
    box-shadow: 0 30px 16px var(--black-translucent-2);
    transform: rotate(40deg);
}
.login-card {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    flex-direction: column;
    background: var(--white-1);
    padding: 20px;
    transform: rotate(-55deg);
    box-shadow: inset 10px -11px 16px var(--white-translucent), inset 4px -8px 16px var(--black-translucent);
}
.form-item {
    margin-bottom: 20px;
}
.btn-grp {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.other-login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 10px 0;
}
.other-login button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    border-radius: 30px;
    margin: 0 5px;
    background-color: transparent;
}
.other-login button img {
    margin: 0 5px;
    height: 25px;
    border-radius: 20px;
    transition: box-shadow 0.3s ease;
}
.other-login button img:hover {
    box-shadow: 0 4px 8px var(--black-translucent);
}
.forgot-password {
    margin: 10px 0;
}
.tooltip {
    color: var(--red-2);
    margin-top: 10px;
    font-size: 0.9em;
}