.input {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: left;
    align-items: baseline;
    margin-bottom: 10px;
}

.sidebar-input {
    display: flex;
    position: relative;
    height: 30px;
    width: 100%;
    padding: 5px;
    border-radius: 50px;
    border: 1px solid var(--grey-4);
}

.sidebar-legend {
    display: flex;
    font-size: 13px;
}