.logo {
    display: block;
    position: absolute;
    margin-left: 20px;
}
.logo h2 {
    display: flex
;
    justify-content: center;
    align-items: center;
}
.login-container {
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    height: 300px;
    width: 600px;
    border-radius: 8px;
    flex-direction: column;
    justify-self: center;
    align-self: center;
    justify-content: center;
    align-items: center;
}
.bg-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 60px;
    background: linear-gradient(45deg, #3AA9B6, #14376B, #513C75, #C4597D, #FC930F);
    height: 350px;
    width: 350px;
    border: 1px solid #ccc;
    box-shadow: 0 30px 16px rgba(0, 0, 0, 0.2);
    transform: rotate(15deg);
}
.bg-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 60px;
    background: linear-gradient(45deg, #3AA9B6, #14376B, #513C75, #C4597D, #FC930F);
    height: 350px;
    width: 350px;
    border: 1px solid #ccc;
    box-shadow: 0 30px 16px rgba(0, 0, 0, 0.2);
    transform: rotate(40deg);
}
.login-card {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    flex-direction: column;
    background: #fff;
    padding: 20px;
    transform: rotate(-55deg);
    box-shadow: inset 8px 8px 16px rgba(0, 0, 0, 0.2), inset -8px -8px 16px rgba(255, 255, 255, 0.7);
}
.form-group {
    margin: 10px 0;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 20px;
}
input {
    border: none;
}
input:focus {
    outline: none;
}
.btn-grp {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.other-login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 10px 0;
}
.other-login button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    border-radius: 30px;
    margin: 0 5px;
}
.other-login button img {
    margin: 0 5px;
    height: 25px;
}
.forgot-password {
    margin: 10px 0;
}