.node {
  position: relative;
    display: flex;
    align-items: center;
    justify-content: left;
    border: 1px solid var(--grey-4);
    cursor: pointer;
    background: linear-gradient(135deg, var(--white-1), var(--white-2));
    gap: 8px;
    border-radius: 8px;
    width: 100%;
    box-shadow: 3px 3px 5px var(--grey-3),-3px -3px 5px var(--white-1);
    transition: all 0.3s ease;
    min-width: 180px;
}

.node:hover {
    box-shadow: 5px 5px 10px var(--black-translucent), -5px -5px 10px var(--white-translucent);
    transform: scale(1.02);
}

.icon {
    display: flex;
    position: relative;
    font-size: 24px;
    height: 60px;
    width: 60px;
    color: var(--white-1);
    justify-content: center;
    align-items: center;
    border-radius: 8px 50px 0 8px;
    box-shadow: 2px 1px 8px var(--grey-3);
}

.content {
    display: flex;
    flex-direction: column;
    padding: 8px;
}

.label {
    font-size: 14px;
    font-weight: bold;
    color: var(--grey-2);
}

.type {
    font-size: 12px;
    color: var(--grey-2);
}

.handle-input:hover::before,
.handle-output:hover::before {
    opacity: 1;
}

.handle-input::before,
.handle-output::before {
    content: attr(data-output);
    position: absolute;
    white-space: nowrap;
    font-size: 8px;
    top: -4px;
    background: var(--white-2);
    border: solid 1px var(--grey-4);
    border-radius: 8px;
    padding: 0 5px;
    opacity: 0;
    transition: all 0.3s;
}

.handle-input::before {
    left: -40px;
}
.handle-output::before {
    right: -45px;
}
.node-selected {
    border: 2px solid var(--blue-5);
    
}
.node.running {
    box-shadow: 0 4px 8px var(--blue-4);
    background: linear-gradient(135deg, var(--white-1), var(--blue-2));
}
.node.success {
    box-shadow: 0 4px 8px var(--green-4);
    background: linear-gradient(135deg, var(--white-1), var(--green-2));
}
.node.error {
    box-shadow: 0 4px 8px var(--red-4);
    background: linear-gradient(135deg, var(--white-1), var(--red-2));
  }
  
  /* Rotating Gradient Border */
  .node.running::before {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    border-radius: 10px;
    background: linear-gradient(90deg, var(--blue-3), var(--violet-3), var(--orange-2)); /* Gradient colors */
    background-size: 200% 200%; /* Make gradient larger than the border */
    animation: rotateGradient 2s linear infinite;
    transform: scale(1.03);
    z-index: -1; /* Place behind the node content */
  }
  
  @keyframes rotateGradient {
    0% {
      background-position: 0% 50%; /* Start position */
    }
    100% {
      background-position: 200% 50%; /* End position */
    }
  }
  
  /* Optional: Adding a subtle background pulse */
  .node.running {
    animation: backgroundPulse 2s ease-in-out infinite;
  }
  
  @keyframes backgroundPulse {
    0%, 100% {
      background-color: var(--white-3);
    }
    50% {
      background-color: var(--white-5);
    }
  }
  /* Success State */
.node.success::before {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    border-radius: 10px;
    background: linear-gradient(90deg, var(--green-2), var(--green-3), var(--green-5)); /* Gradient colors */
    background-size: 200% 200%; /* Make gradient larger than the border */
    z-index: -1; /* Place behind the node content */
}

.node.error::before {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    border-radius: 10px;
    background: linear-gradient(90deg, var(--red-2), var(--red-3), var(--red-5)); /* Gradient colors */
    background-size: 200% 200%; /* Make gradient larger than the border */
    z-index: -1; /* Place behind the node content */
}

.replay-node-selected {
  border: 2px var(--brown-2) solid;
}
.node.replay-node-selected:hover {
  transform: none;
  box-shadow: none;
}
.add-btn {
  position: absolute;
  right: -15px;
  background-color: var(--blue-2);
  color: var(--white-1);
  border-radius: 5px;
  width: 12px;
  height: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.node-variables__container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 4px 8px;
}
.node-variables__label {
  display: flex;
  position: relative;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;;
  font-size: 14px;
  font-weight: bold;
  color: var(--grey-2);
}
.node-variables__labelicon {
  font-size: 16px;
  color: var(--grey-3);
}
.node-variables__caption {
  font-size: 12px;
  color: var(--grey-4);
}