.background {
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.525);
    z-index: -1;
    opacity: 0;
    transition: all 0.3s ease;
}
.background.show {
    opacity: 1;
    z-index: 100;
}

.background .modal {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 40%;
    min-height: 100px;
    min-width: 300px;
    border-radius: 10px;
    background: #fff;
    overflow: auto;
    animation: modalentry 0.5s;
    user-select: text;
    transform: translateY(-50px);
    transition: all 0.5s ease-in-out;
}
.background.show .modal {
    transform: translateY(0);
}
.background .modal .modal-header {
    position: relative;
    display: flex;
    justify-content: baseline;
    height: 60px;
    font-size: 20px;
    padding: 20px;
    border-bottom:  1px solid #ddd;
}
.modal-header .btn-close {
    position: absolute;
    right: 10px;
    top: 10px;
    transition: 0.3s;
    z-index: 102;
}

.background .modal .modal-content {
    position: relative;
    display: flex;
    overflow: auto;
    height: 100%;
    padding: 10px;
}
.background .modal .modal-actions {
    position: relative;
    display: flex;
    justify-content: center;
    height: 60px;
    padding: 20px;
}
.modal-actions button {
    margin: 0 10px;
    height: 30px;
    width: 80%;
    cursor: pointer;
}
.btn-primary {
    background: #3990C5;
    color: #fff;
}
.btn-cancel {
    background: #C2595B;
    color: #fff;
}