.background {
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.525);
    z-index: 100;
}
.background .modal {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 50vh;
    width: 60vw;
    min-height: 100px;
    min-width: 300px;
    border-radius: 10px;
    background: #fff;
    padding: 20px;
    overflow: auto;
    animation: modalentry 0.5s;
    user-select: text;
}
.background .modal .modal-header {
    position: relative;
    display: flex;
    justify-content: center;
    height: 50px;
}
.background .modal .modal-content {
    position: relative;
    display: flex;
    overflow: auto;
}
table {
    width: fit-content !important;
    min-width: 100%;
    overflow: hidden;
    border-collapse: collapse;
}
th,
th {
    background: #dddddd;
}

td,
th {
    border: 0.5px solid #dddddd;
    text-align: center;
    font-size: 13px;
    min-width: 60px;
}
.close-btn {
    position: absolute;
    right: 10px;
    top: 10px;
    color: red;
    cursor: pointer;
    transition: 0.3s;
}
.close-btn:hover {
    transform: scale(1.05);
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
@keyframes modalentry {
    from {
        transform: translateY(20px);
    } 
    to {
        transform: translateY(0px);
    }
}