.background {
    position: fixed; /* Changed from absolute to fixed to ensure it always fits the parent */
    top: 0;
    left: 0;
    overflow: hidden; /* Prevents scroll on the parent */
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    background: var(--black-translucent-2);
    z-index: 100;
    backdrop-filter: blur(4px);
}

.background .modal {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 60%;
    min-height: 100px;
    min-width: 300px;
    border-radius: 10px;
    background: var(--white-2);
    overflow: auto;
    user-select: text;
    box-shadow: 4px 4px 8px var(--grey-2);
    transition-delay: 0.2s;
}
.background.show .modal {
    transform: translateY(0);
}
.background .modal .modal-header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    height: fit-content;
    padding: 20px;
    border-bottom:  1px solid var(--grey-4);
}
.modal-header .title {
    font-size: 20px;
    font-weight: 600;
    height: fit-content;
}
.modal-header .caption {
    font-size: 12px;
    font-weight: 400;
    color: var(--grey-3);
}
.modal-header .btn-close {
    position: absolute;
    cursor: pointer;
    right: 10px;
    top: 10px;
    z-index: 102;
}

.background .modal .modal-content {
    position: relative;
    display: flex;
    overflow: auto;
    height: 100%;
    padding: 10px;
}
.background .modal .modal-actions {
    position: relative;
    display: flex;
    justify-content: center;
    height: 60px;
    padding: 20px;
}
.modal-actions button {
    margin: 0 10px;
    height: 35px;
    width: 80%;
    cursor: pointer;
    border-radius: 50px;
}
.btn-primary {
    background: var(--blue-2);
    color: var(--white-1);
}
.btn-cancel {
    background: var(--btn-red-2);
    color: var(--white-1);
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.3s ease;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}

.drop-enter-active,
.drop-leave-active {
    transition: all 0.3s ease;
}

.drop-enter-from,
.drop-leave-to {
    opacity: 0;
    transform: translateY(-10px);
}

/* Ensure these classes are not scoped by Vue's scoped styles */