 .replay-data-container {
    display: flex;
    position: relative;
    height: 204.81px; 
    width: 100%;
 }
.replay-data-row {
    display: grid;
    position: relative;
    height: 30px;
    border-radius: 8px;
    background: var(--grey-5);
    color: var(--grey-1);
    margin-bottom: 8px;
    grid-template-columns: repeat(3, 1fr);
}
.replay-data-row.selected {
    color: var(--blue-3);
}