.process-content {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    height: 100%;
    width: 100%;
    padding: 30px;
    background: var(--white-2);

}
.gallery-box {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    border-radius: 20px;
    width: 100%;
    padding: 30px;
}
.page-title {
    font-size: 41px;
    color: var(--grey-2);
}
.page-info {
    font-size: 15px;
    color: var(--grey-2);
}
.page-info *  {
    margin-right: 5px;
}
.gallery-search {
    position: relative;
    display: flex;
    width: 100%;
    max-width: 700px;
    height: 30px;
    border-radius: 20px;
    margin-top: 30px;
    box-shadow: 2px 2px 3px var(--grey-3);
}
.gallery-search .search-box {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    padding: 0 10px 0 10px;
    border: none;
}
.gallery-search .search-box:focus-visible {
    outline: none;
}
.cards-gallery {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    gap: 20px;
    height: 100%;
}
.cards-gallery .create {
    position: relative;
    display: flex;
    height: 130px;
    width: 250px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    color: var(--white-1);
    cursor: pointer;
    overflow: hidden;
    transition: 0.3s ease-in-out;
    background-size: contain;
    background-position: center;
    background: var(--grey-4);
}
.create img {
    width: 100px;
    height: 100px;
}
.cards-gallery .create:hover {
    box-shadow: 4px 4px 4px var(--grey-3);
}
.cards-gallery .card {
    position: relative;
    display: flex;
    height: 130px;
    width: 250px;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 2px 2px 2px var(--grey-3);
    transition: 0.3s ease-in-out;
}
.card.default {
    background-size: contain;
    background-position: center;
    background-color: var(--green-5);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
}
.card.defaultnode {
    background-size: contain;
    background-position: center;
    background-color: var(--green-5);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
}
.card.webhook {
    background-size: contain;
    background-position: center;
    background-color: var(--brown-5);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
}
.card.events {
    background-size: contain;
    background-position: center;
    background-color: var(--pink-5);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
}
.card.interval {
    background-size: contain;
    background-position: center;
    background-color: var(--blue-5);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
}
.cards-gallery .card:hover {
    box-shadow: 6px 6px 6px var(--grey-3);
}
.cards-gallery .card .type {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    text-transform: uppercase;
}
.cards-gallery .card .card-title {
    font-size: 13px;
    font-weight: 600;
}
.cards-gallery .card .card-description {
    font-size: 10px;
    color: var(--grey-2);
}
.tags {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}
.tags .tag {
    position: relative;
    display: flex;
    font-size: 10px;
    padding: 0 10px 0 10px;
    background: var(--blue-2);
    border-radius: 20px;
    color: var(--white-1);
}
.tag-actions {
    position: relative;
    display: flex;
    gap: 10px;
    margin-top: 20px;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.tag-actions .tag-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    padding: 1px 10px 1px 10px;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 3px 3px 5px var(--grey-3), -3px -3px 5px var(--white-1);
    transition: all 0.3s linear;
}
.tag-actions .tag-btn:hover {
    box-shadow: inset 3px 3px 5px var(--grey-3), inset -3px -3px 5px var(--white-1);
}
.run-history {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
    width: 100%;
    border: 1px solid var(--grey-4);
    border-radius: 20px;
    padding: 12px;
}