@import '@vue-flow/core/dist/style.css';
@import '@vue-flow/core/dist/theme-default.css';
@import '@vue-flow/controls/dist/style.css';

.canvas {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    user-select: none;  
  }
  
  .canvas__header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    height: fit-content;
    width: 100%;
    padding: 10px 0px 10px 20px;
    box-shadow: 0 5px 5px var(--grey-4);
  }
  .canvas__headerinput {
    field-sizing: content;
    background: inherit;
    border: none;
    border-radius: 20px;
    font-weight: 400;
  }
  .canvas_titlecontainer {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: fit-content;
  }
  .canvas_tags {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
  }
  .canvas__tag {
    padding: 0px 8px;
    cursor: pointer !important;
    transition: all 0.15s ease-in-out;
    height: 40px;
    
    &:hover {
      filter: brightness(0.8);
    }
  } 
  .canvas__tag--active {
    background: var(--blue-6);
  }
  
  .canvas__label {
    padding: 5px;
    font-size: 20px;
    field-sizing: content;
  }
  .canvas__description {
    font-size: 12px;
    color: var(--grey-3);
  }
  .canvas__tagtext {
    color: var(--neutral-6);
  }
  
  .title-section input:hover {
    border: 1px solid var(--grey-4);
  }
  
  .title-section input:focus-visible {
    outline-color: var(--grey-4);
  }

  .content {
    position: relative;
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 8px;
  }
  
  .active {
    color: var(--white-1);
    background: var(--blue-5);
    box-shadow: 0 0 5px var(--blue-5);
    transition: 0.2s;
  }
  
  .active:hover {
    filter: brightness(120%);
    transform: scale(1.02);
    background: var(--blue-7);
  }
  
  .material-symbols-outlined {
    font-size: 18px;
  }
  
  .run-btns {
    position: absolute;
    top: 20px;
    left: 43%;
    display: flex;
    gap: 20px;
  }
  
  .run-btns .log-btn {
    position: relative;
    display: flex;
    height: 30px;
    width: fit-content;
    justify-content: center;
    align-items: center;
    border-radius: 90px;
    font-size: 13px;
    padding: 10px;
    cursor: pointer;
    background: var(--white-2);
    transition: 0.3s;
    box-shadow: 6px 6px 12px var(--grey-3),
      -6px -6px 12px var(--white-1);
  }
  
  .run-btns .close-btn {
    position: relative;
    display: flex;
    height: 30px;
    width: fit-content;
    justify-content: center;
    align-items: center;
    border-radius: 90px;
    font-size: 13px;
    padding: 10px;
    cursor: pointer;
    background: var(--white-2);
    transition: 0.3s;
    box-shadow: 6px 6px 12px var(--grey-3),
      -6px -6px 12px var(--white-2);
  }
  
  .run-btns .log-btn:hover,
  .run-btns .close-btn:hover {
    transform: scale(1.02);
    box-shadow: 15px 15px 30px var(--grey-3),
      -15px -15px 30px var(--white-2);
  }

  .vue-flow__controls-button:hover {
    color: var(--grey-2);
  }

  .notif-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .replaysteps {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 8px;
    border: none;
    width: 100%;
    height: 300px;
    overflow: hidden;
    bottom: 0;
    gap: 4px;
  }

  .workspace {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }