.replay-data-container {
    display: flex;
    position: relative;
    height: 204.81px; 
    width: 100%;
    padding: 8px;
    overflow-y: auto;
    border: 1px solid var(--grey-4);
    border-radius: 18px;
    background: var(--grey-6);
 }
.replay-data-nodeid,
.replay-data-message,
.replay-data-status {
    display: flex;
    position: relative;
    justify-content: flex-start;
    align-items: center;
    padding: 4px 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.replay-data-status {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 100px;
    color: var(--white-2);
    border-radius: 32px;
}

.Success {
    background: var(--green-4);
}

.Info {
    background: var(--blue-4);
}

.Failed {
    background: var(--red-4);
}
.replay-data--sidebar {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 8px;
    border: 1px solid var(--neutral-7);
    height: 100%;
    border-radius: 18px;
    background: var(--neutral-6);
}